/* Dark, multicolumn */

html,body {
    padding: 0;
    padding-left: 20px;
    padding-right: 20px;
    font-family: sans-serif;
    color: grey;
    background: black;
    text-size-adjust: none; /* prevents android chrome resizing text */
    }

#body {
    font-size: 1.6ex;
    font-family: sans-serif;
    color: grey;
    background: transparent;
    }

input {
    /* Used for search box input */
    width: 100%;
    }

#search {
    /* Used for the visible box containing the search input */
    position: fixed;
    top: 30;
    background-color: lightgreen;
    padding: 10;
    width: 450;
    /* box-shadow: 10px 10px 5px lightgrey; */

    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;

    border: 1px;
    border-style: solid;
    }

#search-container {
    /* Used for the full-page div to allow clicking to hide the search box */
    display: none;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 5%;
    z-index: 1001;
    position: fixed; 
    }

select {
    display: block;
    min-width: 400px;
    }

select.same_names {
    background-color: lightgreen;
    }

select.versions {
    background-color: lightblue;
    }

/* overridden later for large screens */
.selectors {
    position: static;
    padding-top: 10px;
    padding-left: 50px;
    }

span {
    overflow: hidden;
    break-inside: avoid-column;
    display: block;
    }

ul {
    list-style-type: square;
    }

a:link, a:visited, a:active {
    text-decoration: none;
    color: #27ae60; /* green */
    text-decoration: bold;
    }

a.capo_button, a.key_button {
    cursor: pointer;
    }

/* cover divs and a.cover links should be the same */
.cover, .cover a:link, .cover a:visited, .cover a:active,
a.cover:link, a.cover:visited, a.cover:active {
    color: cyan;
    }

a.highlight {
    color: darkred;
    }

h2 a:link, h2 a:visited, h2 a:active {
    text-decoration: none;
    color: grey;
    }

h3 a:link, h3 a:visited, h3 a:active {
    text-decoration: none;
    color: black;
    }

/* RED hover on all links */
a:hover, a.cover:hover {
    text-decoration: none;
    color: red;
    text-decoration: bold;
    }

a.tuning {
    font-family: monospace;
    font-size: large;
    }

h3 {
    margin-bottom: 0;
    page-break-before: always; /* for easier printing of individual songs */
    }

#t_l {
    top: 0;
    left: 0;
    height: 80px;
    width: 80px;
    position: fixed;
    opacity: 0;
    border-bottom-right-radius: 25px;
    }

#t_l:hover {
    background: red;
    opacity: 0.5;
    }

/*

#b_l {
    bottom: 0;
    left: 0;
    height: 80px;
    width: 80px;
    position: fixed;
    opacity: 0;
    border-top-right-radius: 25px;
    }

#b_l:hover {
    background: red;
    opacity: 0.5;
    }

#t_r {
    top: 0;
    right: 0;
    height: 80px;
    width: 80px;
    position: fixed;
    opacity: 0;
    border-bottom-left-radius: 25px;
    }

#t_r:hover {
    background: red;
    opacity: 0.5;
    }

#b_r {
    bottom: 0;
    right: 0;
    height: 80px;
    width: 80px;
    position: fixed;
    opacity: 0;
    border-top-left-radius: 25px;
    }

#b_r:hover {
    background: red;
    opacity: 0.5;
    }

*/

.dummy {
    color: grey;
    display: inline;
    }

.songindex {
    color: grey;
    padding-left: 20px;
    padding-right: 20px;
    white-space: pre-line;
    }

/* overridden later for large screens */
.col1 { column-count: 1; }
.col2 { column-count: 1; }
.col3 { column-count: 1; }
.col4 { column-count: 1; }

.chords {
    color: grey;
    white-space: pre;
    font-family: monospace;
    padding-left: 50px;
    }

button {
    width: 220px;
    }

.fingerings-container {
    /* contains fingering_button div and fingerings div */
    white-space: nowrap;
    display: inline-block;
    padding-bottom: 10px;
    }

.fingering_button {
    cursor: pointer;
    display: block;
    color: blue;
    }

.fingerings {
    /* contains fingering divs (one per line) */
    display: none;
    cursor: pointer;
    white-space: pre-line;
    border: 1px solid black;
    padding: 4px;
    background-color: lightgrey;
    /* background-color: green; */
    }

.fingering {
    white-space: pre;
    display: inline-block;
    color: blue;
    }


@media print { 
    /* hide some items when printing: this section needs to be after the original definitions */
    hr { visibility: hidden; } /* use page breaks instead of hrs */
    select { visibility: none; display: none; }
    button { visibility: hidden; display: none; }
    .chords { padding-left: 0px; }
    .settings { visibility: hidden; }
    img.settings-icon { visibility: hidden; }
    .selectors { visibility: hidden; display: none; }
    .fingerings-container { visibility: hidden; display: none; padding-top: 0; padding-bottom:0; }
    .fingering_button { visibility: hidden; display: none; }
    .fingerings { visibility: hidden; display: none; }
    .fingering { visibility: hidden; display: none; }
    }

/* overridden later for larger screens */
.tuning-map {
    /* size of container: the image and links are relative to this */
    display: inline-block;
    position: relative;
    width: 90%;
    align: center;
    }

.tuning-map img {
    display: inline;
    position: relative;
    width: 100%; /* fill the container */
    }

.tuning-map a {
    /* size and display of all link divs (positioned below for each class) */
    display: inline;
    position: absolute;
    width: 11%;
    height: 6.5%;
    /* background-color: red; */
    opacity: 0.5;
    }

.tuning-map a.tuning-DADGBE {   top: 19%; left: 9.5%; }
.tuning-map a.tuning-EADGBD {   top: 19%; left: 22%;  }
.tuning-map a.tuning-DADGBD {   top: 29%; left: 16%;  }
.tuning-map a.tuning-EADFSBE {  top: 19%; left: 47.5%;  }
.tuning-map a.tuning-CADGBE {   top: 19%; left: 60.5%;  }
.tuning-map a.tuning-CGDGBE {   top: 29%; left: 70%;  }

.tuning-map a.tuning-DADGAD {   top: 48.5%; left: 3%;  }
.tuning-map a.tuning-DADFSAD {  top: 58.5%; left: 3%;  }
.tuning-map a.tuning-DADFAD {   top: 68.5%; left: 3%;  }
.tuning-map a.tuning-DADEAD {   top: 78.5%; left: 3%;  }
.tuning-map a.tuning-DADDAD {   top: 88.5%; left: 3%;  }

.tuning-map a.tuning-GDGBD {    top: 48.5%; left: 35%;  }
.tuning-map a.tuning-GDGCD {    top: 58.5%; left: 22%;  }
.tuning-map a.tuning-GCGBD {    top: 58.5%; left: 35%;  }
.tuning-map a.tuning-GDGBbD {   top: 58.5%; left: 47.5%;  }
.tuning-map a.tuning-FDGCD {    top: 68.5%; left: 16%;  }
.tuning-map a.tuning-GCGCD {    top: 68.5%; left: 28.5%;  }
.tuning-map a.tuning-GCGCC {    top: 78.5%; left: 28.5%;  }
.tuning-map a.tuning-GCGCE {    top: 88.5%; left: 28.5%;  }

.tuning-map a.tuning-DGDGBD {   top: 38.5%; left: 60.5%;  }
.tuning-map a.tuning-DGDGBbD {  top: 48.5%; left: 60.5%;  }

.tuning-map a.tuning-CGCGGE {   top: 48.5%; left: 79.5%;  }
.tuning-map a.tuning-CGCGCE {   top: 58.5%; left: 79.5%;  }
.tuning-map a.tuning-CGCGCD {   top: 68.5%; left: 73%;  }
.tuning-map a.tuning-CGCFCE {   top: 68.5%; left: 86%;  }
.tuning-map a.tuning-CGDFCE {   top: 78.5%; left: 86%;  }

hr.no-col-divider { display: block; }
br.col-divider { display: none; }

@media only screen and (min-width: 1281px) {
    /* Only allow 4 columns on large screens (desktops) */

    .col1 { column-count: 1; }
    .col2 { column-count: 2; }
    .col3 { column-count: 3; }
    .col4 { column-count: 4; }

    hr.no-col-divider { display: none; }
    br.col-divider { display: block; }

    .tuning-map {
        display: float;
        position: absolute;
        width: 50%;
        top: 20%;
        right: 10%;
        }

    .selectors {
        position: absolute;
        margin-top: -40px; /* move inline with the h3 (song title) div above */
        right: 20px;
        }

    }

.chord, .key {
    display: inline;
    color: #C9BE62; /* yellow */
    font-weight: bold;
    }

.alt { /* used for overblows/overdraws */
    color: green;
    }

.comment {
    display: inline;
    color: #27ae60; /* green */
    }

.capo {
    display: inline;
    color: red;
    font-weight: bold;
    }

.tuning {
    display: inline;
    color: blue;
    }

.tabline {
    display: inline;
    color: #6495ED;  /* cornflowerblue */
    }

.count, .year {
    display: inline-block;
    font-family: monospace;
    min-width: 75;
    font-size: small;
    font-weight: normal;
    }

img.cover {
    width: 100px;
    height: 100px;
    border: 1px solid grey;
    }

table {
    border-collapse: collapse;
    border: 1px;
    }

td, tr {
    border-style: solid;
    padding: 5px;
    border-width: 1px;
    }

img.jump-to-top, img.search-icon, #plus, #minus, #random {
    /* only want to display this when the top of the page is not visible */
    display: block;
    cursor: pointer;
    position: relative;
    width: 29;
    left: -8;
    filter: invert(1);
    }

.settings {
    /* container div: needed to position the menu */
    position: fixed;
    display: block;
    top: 50px;
    left: 20px;
    }

img.settings-icon {
    /* opacity: 0; */
    position: fixed;
    cursor: pointer;
    top: 12px;
    left: 10px;
    width: 30px;
    /* opacity: 0; */
    filter: invert(1);
    }

.settings-menu {
    /* menu content: hidden by default */
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 320px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    cursor: pointer;
    z-index: 1;
    }

.settings-menu a {
    /* styles links in the menu */
    display: block;
    color: black;
    padding: 5px 5px;
    user-select: none;
    }

/* .settings:hover .settings-menu { display: block; } */
/* .settings-icon:hover { opacity: 1; } */
.settings-menu a:hover { background-color: #ddd; }

#allsongs {
    display: none;
    }
