html,body {
    margin: 0;
    padding: 0;
    padding-left: 20px;
    padding-right: 20px;
    font-family: sans-serif;
    color: black;
    background: white;
    }
#body {
    margin: 0 auto;
    font-size: 1.6ex;
    font-family: sans-serif;
    color: black;
    background: white;
    }

select {
    float: right;
    }

@media print { 
    hr { visibility: hidden; } /* don't print <hr>s... we use page breaks */
    select { visibility: hidden; }
    button { visibility: hidden; }
    }

span {
    overflow: hidden;
    break-inside: avoid-column;
    display: block;
    }

a:link, a:visited, a:active {
    text-decoration: none;
    color: blue;
    text-decoration: bold;
    }

a.cover:link, a.cover:visited, a.cover:active {
    color: green;
    }

/* RED hover on all links */
a:hover, a.cover:hover {
    text-decoration: none;
    color: red;
    text-decoration: bold;
    }

a.tuning {
    font-family: monospace;
    }

h3 {
    page-break-before: always; /* for easier printing of individual songs */
    }

#t_l {
    top: 0;
    left: 0;
    height: 80px;
    width: 80px;
    position: fixed;
    opacity: 0;
    border-bottom-right-radius: 25px;
    }

#b_l {
    bottom: 0;
    left: 0;
    height: 80px;
    width: 80px;
    position: fixed;
    opacity: 0;
    border-top-right-radius: 25px;
    }

#t_r {
    top: 0;
    right: 0;
    height: 80px;
    width: 80px;
    position: fixed;
    opacity: 0;
    border-bottom-left-radius: 25px;
    }

#b_r {
    bottom: 0;
    right: 0;
    height: 80px;
    width: 80px;
    position: fixed;
    opacity: 0;
    border-top-left-radius: 25px;
    }

#b_l:hover {
    background: red;
    opacity: 0.5;
    }

#t_l:hover {
    background: red;
    opacity: 0.5;
    }

#b_r:hover {
    background: red;
    opacity: 0.5;
    }

#t_r:hover {
    background: red;
    opacity: 0.5;
    }

.artistlist {
    color: black;
    column-count: 1;
    }

.songindex {
    color: black;
    padding-left: 20px;
    padding-right: 20px;
    column-count: 1;
    white-space: pre-line;
    }

.chords_1col {
    white-space: pre;
    font-family: monospace;
    color: black;
    padding-left: 50px;
    }

.chords_2col {
    white-space: pre;
    font-family: monospace;
    color: black;
    padding-left: 50px;
    column-count: 1;
    }

.chords_3col {
    white-space: pre;
    font-family: monospace;
    color: black;
    padding-left: 50px;
    column-count: 1;
    }

.tuning_map {
    display: block;
    top: 10%;
    right: 10%;
    position: static;
    white-space: pre;
    font-family: monospace;
    }


@media only screen and (min-width: 1281px) {
    /* Only allow multi-column on large screens (desktops) */

    .artistlist {
        color: black;
        column-count: 4;
        }

    .songindex {
        color: black;
        padding-left: 20px;
        padding-right: 20px;
        column-count: 2;
        white-space: pre-line;
        }

    .chords_2col {
        white-space: pre;
        font-family: monospace;
        color: black;
        padding-left: 50px;
        column-count: 2;
        }

    .chords_3col {
        white-space: pre;
        font-family: monospace;
        color: black;
        padding-left: 50px;
        column-count: 3;
        }

    .tuning_map {
        display: block;
        top: 10%;
        right: 10%;
        position: absolute;
        white-space: pre;
        font-family: monospace;
        }

    }

.chord {
    display: inline;
    color: red;
    font-weight: bold;
    }

.comment {
    display: inline;
    color: blue;
    }

.capo {
    display: inline;
    color: red;
    font-weight: bold;
    }

.tuning {
    display: inline;
    color: blue;
    }

.fingering {
    display: inline;
    color: blue;
    }

.tabline {
    display: inline;
    color: blue;
    }

.count {
    display: inline-block;
    font-family: monospace;
    min-width: 75;
    }

.cover {
    display: inline;
    color: green;
    }

img.cover {
    width: 100px;
    height: 100px;
    border: 1px solid black;
    }

