html,body {
    padding: 0;
    padding-left: 20px;
    padding-right: 20px;
    font-family: sans-serif;
    color: grey;
    background: black;
    }
#body {
    font-size: 1.6ex;
    font-family: sans-serif;
    color: grey;
    background: transparent;
    }

select {
    float: right;
    }

@media print { 
    hr { visibility: hidden; } /* don't print <hr>s... we use page breaks */
    select { visibility: hidden; }
    button { visibility: hidden; }
    }

span {
    overflow: hidden;
    break-inside: avoid-column;
    display: block;
    }

a:link, a:visited, a:active {
    text-decoration: none;
    color: #27ae60; /* green */
    text-decoration: bold;
    }

/* cover divs and a.cover links should be the same */
.cover a:link, .cover a:visited, .cover a:active,
a.cover:link, a.cover:visited, a.cover:active {
    color: green;
    }

h2 a:link, h2 a:visited, h2 a:active {
    text-decoration: none;
    color: grey;
    }

h3 a:link, h3 a:visited, h3 a:active {
    text-decoration: none;
    color: black;
    }

/* RED hover on all links */
a:hover, a.cover:hover {
    text-decoration: none;
    color: red;
    text-decoration: bold;
    }

a.tuning {
    font-family: monospace;
    }

h3 {
    margin-bottom: 0;
    page-break-before: always; /* for easier printing of individual songs */
    }

#t_l {
    top: 0;
    left: 0;
    height: 80px;
    width: 80px;
    position: fixed;
    opacity: 0;
    border-bottom-right-radius: 25px;
    }

#b_l {
    bottom: 0;
    left: 0;
    height: 80px;
    width: 80px;
    position: fixed;
    opacity: 0;
    border-top-right-radius: 25px;
    }

#t_r {
    top: 0;
    right: 0;
    height: 80px;
    width: 80px;
    position: fixed;
    opacity: 0;
    border-bottom-left-radius: 25px;
    }

#b_r {
    bottom: 0;
    right: 0;
    height: 80px;
    width: 80px;
    position: fixed;
    opacity: 0;
    border-top-left-radius: 25px;
    }

#b_l:hover {
    background: red;
    opacity: 0.5;
    }

#t_l:hover {
    background: red;
    opacity: 0.5;
    }

#b_r:hover {
    background: red;
    opacity: 0.5;
    }

#t_r:hover {
    background: red;
    opacity: 0.5;
    }

.songindex {
    color: grey;
    padding-left: 20px;
    padding-right: 20px;
    white-space: pre-line;
    }

.col1 { column-count: 1; }
.col2 { column-count: 1; }
.col3 { column-count: 1; }
.col4 { column-count: 1; }

.chords {
    color: grey;
    white-space: pre;
    font-family: monospace;
    padding-left: 50px;
    }

.tuning_map {
    page-break-before: always; /* print on own page */
    display: block;
    top: 20%;
    right: 10%;
    position: static;
    white-space: pre;
    font-family: monospace;
    }


@media only screen and (min-width: 1281px) {
    /* Only allow 4 columns on large screens (desktops) */

    .col1 { column-count: 1; }
    .col2 { column-count: 2; }
    .col3 { column-count: 3; }
    .col4 { column-count: 4; }

    .tuning_map {
        display: block;
        top: 20%;
        right: 10%;
        position: absolute;
        white-space: pre;
        font-family: monospace;
        }

    }

.chord {
    display: inline;
    color: #C9BE62; /* yellow */
    font-weight: bold;
    }

.key {
    display: none;
    }

.comment {
    display: inline;
    color: #27ae60; /* green */
    }

.capo {
    display: inline;
    color: red;
    font-weight: bold;
    }

.tuning {
    display: inline;
    color: #27ae60; /* green */
    }

.fingering {
    display: inline;
    color: #27ae60; /* green */
    }

.tabline {
    display: inline;
    color: #6495ED;  /* cornflowerblue */
    }

.count {
    display: inline-block;
    font-family: monospace;
    min-width: 75;
    }

.cover {
    display: inline;
    color: green;
    }

img.cover {
    width: 100px;
    height: 100px;
    border: 1px solid grey;
    }

table {
    border-collapse: collapse;
    border: 1px;
    }

td, tr {
    border-style: solid;
    padding: 5px;
    border-width: 1px;
    }

